<!DOCTYPE html>
<html>
<head>
	<title>Eduly</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,300" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="https://bitmovin-a.akamaihd.net/bitdash/stable/bitdash.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<%= render 'layouts/shared/header' %>

	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, class: "alert alert-info" %>
		<% end %>

		<%= yield %>
	</div>

	<%= render 'layouts/shared/footer' %>

</body>
</html>
