<%= form_for @empl_state do |f| %>
	<% if @empl_state.errors.any? %>
		<h2><%= pluralize(@empl_state.errors.count, "error") %> prevented this employment state from saving:</h2>

		<ul>
			<% @empl_state.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<div class="panel-body">
		<p>
			<%= f.label :state_name %> <br>
			<%= f.text_field :state_name, class: 'form-control' %>
		</p>
		<p>
			<%= f.submit "Submit", class: "btn btn-primary" %>
		</p>
	</div>
<% end %>
