<%= form_for @admin_user do |f| %>
	<% if @admin_user.errors.any? %>
		<h2><%= pluralize(@admin_user.errors.count, "error") %> prevented this admin user from saving:</h2>

		<ul>
			<% @admin_user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>


	<p>
		<%= f.label :email %> <br>
		<%= f.text_field :email, class: 'form-control' %>
	</p>
	<p>
		<%= f.label :password %> <br>
		<%= f.password_field :password, class: 'form-control' %>
	</p>
    <p>
		<%= f.label :password_confirmation %> <br>
		<%= f.password_field :password_confirmation, class: 'form-control' %>
	</p>
	<p>
		<%= f.submit 'Sign Up', class: 'btn btn-primary' %>
	</p>
<% end %>
