<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <ul class="popular-job-list">
        <div class="keyword-heading">State Jobs</div>
        <ul>
          <li><%= link_to "Madhya Pradesh Jobs", madhya_pradesh_jobs_path %></li>
          <li><%= link_to "Maharashtra Jobs", maharashtra_jobs_path %></li>
          <li><%= link_to "Kerala Jobs", kerala_jobs_path %></li>
          <li><%= link_to "Pan India Jobs", pan_india_jobs_path %></li>
        </ul>
      </ul>
    </div>

    <div class="col-md-3 col-sm-3">
      <ul class="popular-job-list">
        <div class="keyword-heading">Popular Jobs</div>
        <ul>
          <li><%= link_to "Metro Rail Jobs", metro_rail_jobs_path %></li>
          <li><%= link_to "Police / Defence Jobs", police_defence_jobs_path %></li>
          <li><%= link_to "Research Jobs", research_jobs_path %></li>
          <li><%= link_to "Engineering Jobs", engineering_jobs_path %></li>
        </ul>
      </ul>
    </div>

    <div class="col-md-3 col-sm-3">
      <ul class="popular-job-list">
        <div class="keyword-heading">Banking Jobs</div>
        <ul>
          <li><%= link_to "Bank Of Baroda Jobs", bank_of_baroda_jobs_path %></li>
          <li><%= link_to "IBPS Jobs", ibps_jobs_path %></li>
          <li><%= link_to "State Bank Of India Jobs", state_bank_of_india_jobs_path %></li>
          <li><%= link_to "All Bank Jobs", all_banks_jobs_path %></li>
        </ul>
      </ul>
    </div>

    <div class="col-md-3 col-sm-3">
      <ul class="popular-job-list">
        <div class="keyword-heading">Popular Jobs</div>
        <ul>
          <li><%= link_to "Railway Jobs", railway_metro_rail_jobs_path %></li>
          <li><%= link_to "Medical Department Jobs", medical_department_jobs_path %></li>
          <li><%= link_to "High Court Jobs", high_court_jobs_path %></li>
          <li><%= link_to "SSC / PSC / UPSC", ssc_psc_upsc_jobs_path %></li>
        </ul>
      </ul>
    </div>
  </div>
</div>
