<div class="jumbotron">
	<div class="container">
		<h1 style="margin-bottom: 5px;">Your Profile</h1>

		<p class="lead" style="font-weight: 600">
			Hey there <%= current_user.email %>! This is your profile. You can edit it here.
		</p>
	</div>
</div>

<div id="main">
	<div class="col-lg-2 col-md-4 col-sm-12">
		<ul class="profile-label">
			<li><%= link_to "Playlists", playlists_path %></li>
			<li><%= link_to "Videos", videos_path %></li>
		</ul>
	</div>

	<div class="col-lg-10 col-md-10 col-sm-12">
		<h4 style="font-size: 22px; font-weight: 400"><%= link_to "Upload new video", new_video_path %></h4>
		<hr>
		<div class="row">
			<% @current_user_videos.each_slice(3) do |videos| %>
			<% videos.each do |video| %>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="post panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<div class="video-label">
									<%= link_to video.video_title, video_path(video), class: "label label-warning" %>
								</div>

								<%= link_to video_path(video), class: "clearfix" do %>
									<%= image_tag video.image.url(:medium), class: "post-icon img-responsive" %>
								<% end %>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="post-heading">
									<h2 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= link_to video.video_title, video_path(video) %></h2>
								</div>

								<div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
									<%= video.keywords %>
								</div>

								<div class="post-meta">
									<div class="row">
										<div class="col-md-6 col-sm-6 col-xs-6">
											<span class="label label-default">
											published: <%= time_ago_in_words(video.created_at) %>
											</span>
										</div>

										<div class="col-md-6 col-sm-6 col-xs-6">
											<div class="pull-right">
												<span class="label label-default">
												duration: --:--
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
