<div id="video">
	<div class="video-wrapper">
		<div id="player" style="display: flex; flex-direction: column; justify-content: center; align-items: center;"></div>

		<script type="text/javascript">
		var video = "<%=j @video.video_url %>";

		var conf = {
			key: "3e8c36cd-34c8-49d5-970c-8b0b540575cf",

			source:    {
				dash: video
			},

			style:    {
				width       : '75%',
				aspectratio : '16:9',
				controls    : true
			},

			skin: { screenLogoImage : "" }
		};

		var player = bitdash('player');

		player.setup(conf).then(function(value) {
			// Success
			console.log('Successfully created bitdash player instance');
		}, function(reason) {
			// Error!
			console.log('Error while creating bitdash player instance');
		});
		</script>
	</div>
</div>

<div id="main">
	<div class="post-header">
		<div class="media">
			<div class="media-body">
				<div class="media-heading">
					<h1><%= @video.video_title %></h1>
				</div>

				<div class="media-time">
					uploaded on <%= @video.created_at.strftime("%Y-%m-%d") %>
				</div>
			</div>
		</div>
	</div>

	<div class="post-content">
		<div class="post-readme panel panel-default">
			<article class="markdown-body panel-body">
				<p>
					<%= @video.video_description %>
				</p>
			</article>
		</div>

		<div class="post-tags panel panel-default">
			<div class="panel-body">
				<h3 class="heading">THIS POST IS TAGGED WITH</h3>
				<div>
					<%= @video.keywords %>
				</div>
			</div>
		</div>

		<hr>

		<div class="post-comment">
			<span>Comments</span>

			<div class="comment-box">

			</div>
		</div>
	</div>
</div>
